<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <div class="card text-dark bg-light mb-3">
                <div class="card-header">INFORMACION DE PERSONA</div>
                <div class="card-body">

                    <!-- <form > -->
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for=""><strong>Nombres</strong></label>
                                    <input [(ngModel)]="nombres" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for=""><strong>Apellidos</strong></label>
                                    <input [(ngModel)]="apellidos" type="text" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="row mt-3">

                            <label for="">Nombres: 
                                <strong class="text-danger">{{nombres}}</strong>
                            </label> <br>
                            <label for="">Apellidos: 
                                <strong class="text-danger">{{apellidos}}</strong>
                            </label>

                        </div>

                        <div class="row mt-3">

                            <div class="col-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>Nombres</th>
                                                <th>Apellidos</th>
                                                <th>Fecha Nacimiento</th>
                                                <th>Dirección</th>
                                                <th>
                                                    <button class="btn btn-primary btn-sm">
                                                        <i class="fas fa-plus"></i> nuevo
                                                    </button>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for (item of personas; track $index) {

                                                <tr>
                                                    <td> {{item.nombres}} </td>
                                                    <td> {{item.apellidos}} </td>
                                                    <td> {{item.fechaNacimiento | date:"dd/MM/yyyy"}}</td>
                                                    <td> {{item.direccion}} </td>
                                                    <td>
                                                        <button class="float-end btn btn-danger btn-sm">
                                                            <i class="fas fa-trash"></i>
                                                        </button>
                                                        <button class="float-end btn btn-primary btn-sm">
                                                            <i class="fas fa-edit"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>

                    
                    
                    
                    
                    
                    
                    
                    
                    
                        <!--</form> -->
                  
             




            </div>
        </div>
    </div>
</div>

<router-outlet />
